apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Release.Name }}-redcap-cron
spec:
  schedule: "{{ .Values.CRON_TASK_SCHEDULE }}"
  jobTemplate:
    spec:
      activeDeadlineSeconds: 30
      backoffLimit: 1
      completions: 1
      parallelism: 1
      template:
        metadata:
          name: redcap-cron
          labels:
            name: redcap-cron
        spec:
          containers:
          - args:
            - /usr/bin/php
            - /var/www/site/cron.php
            env:
            - name: DB_HOSTNAME
              value: {{.Values.DB_HOSTNAME}}
            - name: DB_NAME
              value: {{.Values.DB_NAME}}
            - name: DB_USERNAME
              value: {{.Values.DB_USERNAME}}
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: DB_PASSWORD
                  name: redcap-server-secrets
                  optional: false
            - name: SALT
              valueFrom:
                secretKeyRef:
                  key: SALT
                  name: redcap-server-secrets
                  optional: false
            volumeMounts:
            {{- if .Values.mail.enabled }}
            - mountPath: /config/mail
              name: mail
            {{- end }}
            {{- if .Values.mail.enabled }}
            - mountPath: /config
              name: cron-bootstrap
            {{- end }}
        {{- if .Values.persistence.enabled }}
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            name: redcap-cron
          {{- if .Values.image.deployRegistry }}
          imagePullSecrets:
          - name: "{{ .Values.image.name }}-{{ .Values.image.imagePullSecrets }}"
          {{- end }}
          volumes:
          {{- if .Values.mail.enabled }}
          - configMap:
              defaultMode: 256
              items:
              - key: cron-php.sh
                path: ./cron-php.sh
              name: "{{ .Release.Name }}-conf-mail-cron"
              optional: false
            name: cron-bootstrap
          {{- end }}
          {{- if .Values.mail.enabled }}
          - configMap:
              defaultMode: 420
              name: "{{ .Release.Name }}-conf-mail"
              items:
              - key: msmtprc
                path: ./msmtprc
            name: mail
          {{- end }}
          restartPolicy: Never
