image:
  replicaCount: 1
#   repository: registry.company.com/redcap
#   tag: "1.3.0"
  pullPolicy: IfNotPresent
  name: redcap
  deployRegistry: false
  imagePullSecrets: registrysecret
  dataSecret: |-
    {"auths":{"registry.company.com":{"password":"","username":""}}}

livenesscheck: true

service:
  type: ClusterIP
  targetPort: 80
  protocol: TCP

ingress:
  enabled: true
  hostnames:
  - redcap.company.com
  tls:
  - hosts:
    - redcap.company.com
    secretName: redcap

  annotations:
    nginx.ingress.kubernetes.io/client_max_body_size: "5000m"
    nginx.ingress.kubernetes.io/proxy-body-size: "5000m"
    nginx.ingress.kubernetes.io/client-body-timeout: "3600"
    nginx.ingress.kubernetes.io/client-header-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-expires: "86400"
    nginx.ingress.kubernetes.io/session-cookie-max-age: "86400"


## Persist data to a persistent volume
persistence:
  enabled: false
  existingClaim: false
  size: 50Gi
  accessMode: "ReadWriteOnce"
  volumeName: "edocs"
  mountPath: /var/www/site/edocs

CRON_TASK_SCHEDULE: "0 * * * *"

DB_HOSTNAME: ""
DB_NAME: ""
DB_USERNAME: ""
DB_PASSWORD: ""

SMB_MOUNT_ENABLED: true
SMB_PASSWORD: ""
SMB_USER: ""
SMB_SOURCEPATH: ""
SMB_DESTPATH: ""
SMB_DOMAIN: ""

SALT: ""

LDAP: |
  ""
